<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	 <!-- define the dependency -->
    <bean id="myFortune" class="com.alliot.HappyFortuneService" >
    
    </bean>
    
    <!-- Define your beans here -->
    <bean id="myCoach" class="com.alliot.BaseballCoach"> 
    
   <!--  setup constructor injection   -->
    <constructor-arg ref="myFortune" />
    </bean>
    
    <!-- Her We can change just name of class (from TrackCoach to BaseballCoach) as this is configuration: 
    This is how we can achieve inversion of control -->
    
    <bean id="myCricketCoach" class="com.alliot.CricketCoach">
    
    <!-- setup setter injection -->
    <property name="fortuneService" ref="myFortune" />
    
    <!-- injecting values -->
    <property name="email" value="ab@12" />
    
    <property name="team"  value="Chennai Super Kings"/>
    
    </bean>
    
    
    <bean id="myFortuneService"
    		class="com.alliot.RandomFortuneService">
    	</bean>
    
 	<bean id="myGolfCoach"
 		class="com.alliot.GolfCoach">	 
 		
 		<!-- set up constructor injection -->
 		<constructor-arg ref="myFortuneService" />
 	</bean>
    
   
    
</beans>





